/* Footer */
.footer {
  background-color: #bea9a9;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* About Us Section */
.about {
  max-width: 600px;
  margin: 0 auto;
}

.about h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about p {
  font-size: 16px;
  line-height: 1.6;
  color: #ddd;
}

/* Social Media Icons */
.social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #726969; /* Color on hover */
}

.social-icon svg {
  width: 24px;
  height: 24px;
}

/* Footer Bottom */
.footer-bottom {
  margin-top: 20px;
  font-size: 14px;
  color: #ddd;
}
