.landing-page {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.header {
  padding: 0;
  position:fixed;
  z-index: 100;
}

.header-container {
  
  display: flex;
  justify-content:space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-right: 700px;
}
.logo img{
  width: 300px;

}

.nav {
  display: flex;
  gap: 80px;
margin-top: -80px;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.nav a:hover {
  color: #000000;
}

.hero {
  position: relative;
  text-align: center;
  color: #fff;
  margin-top: 0;
}

.hero-image {
  width: 100%;
  height: auto;
  display: block;
}

.hero-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  z-index: 100px;
}

.hero-text h2 {
  font-size: 36px;
  margin: 0;
}

.hero-text p {
  font-size: 18px;
  margin: 10px 0;
}

.shop-now-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e96f1e;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.shop-now-btn:hover {
  background-color: #df5a02;
  cursor: pointer;
}

.video-section {
  max-width: 100%;
  margin: 0px 0;
  text-align: center;
}

.video {
  width: 100%;
  border: none;
}

.video-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}



/*************************************************************************/
/* Footer */
.footer {
  background-color: #f5e8cd;
  color: #3b3838;
  padding: 40px 20px;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* About Us Section */
.about {
  max-width: 600px;
  margin: 0 auto;
}

.about h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about p {
  font-size: 16px;
  line-height: 1.6;
  color: #3f3939;
}

/* Social Media Icons */
.social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #726969; /* Color on hover */
}

.social-icon svg {
  width: 24px;
  height: 24px;
}

/* Footer Bottom */
.footer-bottom {
  margin-top: 20px;
  font-size: 14px;
  color: #ddd;
}
