<section class="product-details">
    <div class="product-container">
        <div class="product-image">
            <img [src]="Product.image_link" alt="{{Product.name}}">
        </div>
        <div class="product-info">
            <h1 class="product-name">{{Product.name}}</h1>
            <h3 class="product-category">{{Product.category}}</h3>
            <p class="product-description">{{Product.description}}</p>
            <div class="product-price-rating">
                <h2 class="product-price">{{Product.price}}$</h2>
                <div class="product-rating">
                    <i class="rating-icon">⭐</i>
                    <span class="rating-value">{{Product.rating}}/5</span>
                </div>
            </div>
            <button (click)="addToCart(Product)" class="add-to-cart">Add to Cart</button>
        </div>
    </div>
</section>


<div class="notification" [ngClass]="{'visible': notificationVisible}">
    Added to cart successfully!
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48" class="checkmark-icon">
        <path fill="#c8e6c9" d="M36,42H12c-3.314,0-6-2.686-6-6V12c0-3.314,2.686-6,6-6h24c3.314,0,6,2.686,6,6v24C42,39.314,39.314,42,36,42z"></path>
        <path fill="#4caf50" d="M34.585 14.586L21.014 28.172 15.413 22.584 12.587 25.416 21.019 33.828 37.415 17.414z"></path>
    </svg>
</div>
